@import url(./reset.css);

/* .dove{
    background-image: url(../images/h1\ dove.jpg);
} */
a{
    text-decoration: none;
    color: #00f;
}
.a{
    background-image: url(../images/h1\ dove.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
}
.b{
    background-image: url(../images/h2\ dove.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
}
.c{
    background-image: url(../images/h3\ dove.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
}
.ad{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    background-color: rgba(0,0,0,.5);
    width: 100%;
    height: 100%;
    font-size: 30px;
}
.kart {
    display: flex;
    justify-content: space-between;
    padding: 40px 35px;
  
}

.kart .card{
 
    width: 330px;
    height: 250px;
    flex-direction: column;
    /* padding: 35px 40px; */
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.09);
    
}
.card-body {
    flex: 1 1 auto;
    padding: 1rem 0rem;
    padding: 35px 40px;
}
.card-body h5{
padding-bottom: 25px;
width: 100%;
line-height: 1.42857;
font-family: "Nunito";
font-weight: 600;
font-size: 18px;
}

.card-body p{
    padding-bottom: 35px;
    color: #7e7e7e;
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 20px;
}
.card-body a{
    color: #192675;
    font-size: 14px;
    line-height: 24px;
}

.image1{
    border-radius: 15px;
    transition: all 0.3s ease;
 
}
.image2{
    border-radius: 15px;
    transition: all 0.3s ease;
}
.image3{
    border-radius: 15px;
    transition: all 0.3s ease;
}
.image4{
    border-radius: 15px;
    transition: all 0.3s ease;
}
.image1:hover{
    transform: scale(1.06);
    background-image: url(../images/card1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    width: 100%;
    height: 100%;
}
.image2:hover{
    
    transform: scale(1.06);
    background-image: url(../images/card2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.image3:hover{
    transform: scale(1.06);
    background-image: url(../images/card3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.image4:hover{
    transform: scale(1.06);
    background-image: url(../images/card4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.card-body:hover{
    color: #fff;
}
.image1 .color-black:hover{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
}
.image2 .color-black:hover{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
}
.image3 .color-black:hover{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
}
.image4 .color-black:hover{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
}
.welcome-left p{
    color: #7e7e7e;
}
 
.btn{
    background-color: #192675;
}

.btn:hover{
    background-color: #fff;
    color: #192675;
    border-color: #192675;
}
.btn-check:focus+.btn, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.25rem #fff;
}


.welcome{
    display: flex;
    justify-content: space-between;
    padding: 70px 35px 60px;
    background-color: rgba(100, 100, 100, 0.03);
}

.welcome-left h2{
    font-size: 26px;
    font-family: Nunito, sans-serif;
}

.welcome-left p {
    max-width: 540px;
    height: 120px;
    font-size: 20px;
    color: #6f7074;
    margin-bottom: 30px;
}

.welcome-left button{
    width: 200px;
    height: 50px;
    color: #fff;
}
.welcome-right img{
    width: 630px !important;
    height: 412px !important;
}

.news{
    padding: 60px 35px 50px;
}

.news-left img{
    max-width: 100%;
    height: auto
}

.news-left h3{
    font-weight: 700;
    margin-bottom: 50px;
}

.news-left h5{
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 5px;
    margin-top: 20px;
}

.news-left a{
    font-size: 15px;
    line-height: 30px;
    color: #333333;
}

.news-left a:hover{
    color: #000;
}

.see{
    margin-bottom: 60px;
    padding-top: 5px;
    text-align: right;
}
.see a{
    color: #000;
    font-size: 18px;
}

.see img{
    padding-left: 15px;
}

.news-center .blog{
    display: flex;
    margin-bottom: 20px;
}

.news-center .blog img{
    width: 90px;
    height: 80px;
    margin-right: 16px;
}

.news-center .blog a{
    color: #333333;
    font-size: 18px;
}

.news-center .blog a:hover{
    color: #000;
}
.news-center .blog h5{
    font-size: 18px;
    margin-bottom: 1rem;
}

.latest{
    display: flex;
    justify-content: space-between;
    padding-bottom: 75px;
}

.latest h3{
    font-weight: 700;
}

.latest a{
    color: #333;
    font-size: 18px;
}

.latest a:hover{
    color: #000;
}

.latest img{
    padding-left: 15px;
}
.post{
    display: flex;
    margin: 0 0 20px;
    padding: 30px 10px;
    background-color: rgba(100, 100, 100, 0.03);
    
}

.post-date{
    border-radius: 5px;
    background-color: #ff1053;
    color: #fff;
    width: 70px;
    height: 60px;
    margin-right: 15px;
    padding-top: 10px;
    position: relative;
    text-align: center;
}

.post-date:hover{
    background-color: #192576;
}

.post-body {
    width: 310px;
}

.post-body h4{
    font-size: 20px;
    padding-bottom: 15px;
}
.post-body-top{
    display: flex;
    justify-content: space-between;
   
}

.post-body-top a{
    color:#333333
}
.post-body-top address{
    color:#333333
}.post-body-top a:hover{
    color:#000
}
.post-body-top address:hover{
    color:#000
}

.post-body-top img{
    width: 20px;
    height: 20px;
}

.learn{
    padding: 50px 35px;
    background-color: rgba(100, 100, 100, 0.03);
}
.images img{
    color: #192675 !important;
    width: 60px;
    height: 61px;
    margin-bottom: 25px;
}
.ikon a{
    color: #000;
}
.ikon a:hover{
    color: #333;
}

.partners{
    background-color: rgba(100, 100, 100, 0.03);
    padding: 35px 40px;
}

.partners-left h3{
    padding-bottom: 15px;
    font-weight: 700;
}

.partners-left p{
    color: #6f7074;
    padding-bottom: 70px;
    font-size: 18px;
    font-weight: 400;
}

.partner-image img{
    padding-right: 50px;
}

.partners-right h3{
    padding-bottom: 15px;
    font-weight: 700;
}

.partners-right p{
    color: #6f7074;
    padding-bottom: 60px;
    font-size: 18px;
    font-weight: 400;
}

.partners-right form{
    display: flex;
    align-items: center;
}

form input{
    width: 353px !important;
    height: 50px;
    margin-right: 40px;
}

form button{
    width: 150px;
    height: 50px;
}

form button img{
    color: #fff !important;
    padding-left: 10px;
    align-items: center;
}

