@import url(./reset.css);

/* .dove{
    background-image: url(../images/h1\ dove.jpg);
} */
a{
    text-decoration: none;
    color: #00f;
}
.a{
    background-image: url(../images/h1\ dove.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
}
.b{
    background-image: url(../images/h2\ dove.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
}
.c{
    background-image: url(../images/h3\ dove.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
}
.ad{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    background-color: rgba(0,0,0,.5);
    width: 100%;
    height: 100%;
    font-size: 30px;
}
.kart {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
  
}

.kart .card{
 
    width: 330px;
    height: 250px;
    flex-direction: column;
    /* padding: 35px 40px; */
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.09);
    
}
.card-body {
    flex: 1 1 auto;
    padding: 1rem 0rem;
    padding: 35px 40px;
}
.card-body h5{
padding-bottom: 25px;
width: 100%;
line-height: 1.42857;
font-weight: 400;
font-family: sans-serif;
}

.card-body p{
    padding-bottom: 35px;
    color: #7e7e7e;
}
.card-body a{
    color: #192675;
}

.image1{
 border-radius: 15px;
 transition: all 0.3s ease;
 
}
.image2{
    border-radius: 15px;
    transition: all 0.3s ease;
}
.image3{
    border-radius: 15px;
    transition: all 0.3s ease;
}
.image4{
    border-radius: 15px;
    transition: all 0.3s ease;
}
.image1:hover{
    transform: scale(1.06);
    background-image: url(../images/card1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    width: 100%;
    height: 100%;
}
.image2:hover{
    
    transform: scale(1.06);
    background-image: url(../images/card2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.image3:hover{
    transform: scale(1.06);
    background-image: url(../images/card3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.image4:hover{
    transform: scale(1.06);
    background-image: url(../images/card4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.card-body:hover{
    color: #fff;
}
.image1 .color-black:hover{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
}
.image2 .color-black:hover{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
}
.image3 .color-black:hover{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
}
.image4 .color-black:hover{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
}
.welcome-left p{
    color: #7e7e7e;
}
 
.btn{
    background-color: #00f;
}

.btn:hover{
    background-color: #fff;
    color: #00f;
}
.btn-check:focus+.btn, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.25rem #fff;
}


.welcome{
    display: flex;
    justify-content: space-between;
    padding-top: 70px;
}
.welcome-left p {
    width: 540px;
    height: 120px;
    font-size: 20px;
    color: #6f7074;
}
.welcome-right img{
    width: 630px;
    height: 412px;
}
